<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <script src="js/username.js" charset="utf-8"></script>
    <script src="js/userNameRender.js" charset="utf-8"></script>
  </head>
  <body style="font-size:20px">
    <h1>
      <span>Home:</span> <span id="username" style="float:right"></span>
    </h1>
    <a href="logout">Logout</a>
    <h2>Add a todo List </h2>
    <a href="addtodo">Add todo List</a>
    <br>
    <hr>
    <h3>To-Do List: </h3>
    <hr>
    <br>
    todolist
  </body>
</html>
